<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
\t<key>CFBundleExecutable</key>
\t<string>swift-main</string>
	<key>CFBundleIconFile</key>
	<string></string>
\t<key>CFBundleIdentifier</key>
\t<string>com.example.swift-main</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
\t<key>CFBundleName</key>
\t<string>Swift Main Example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>